<!DOCTYPE html>
<html>

<head>
<link rel="shortcut icon" th:href="@{/images/Hotel.png}" />
  <div th:insert="~{/head :: head}"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed" >
  <footer class="main-footer" th:fragment="footer">
    <strong>Copyright &copy; 2019 G Hotel by <strong style="color:rgb(103, 199, 235)">HACK TEAM</strong></strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0 Beta
    </div>
  </footer>
  <div th:insert="~{/head :: bottom}"></div>
</body>

</html>