<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>G-Hotel Management</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome-free/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/ionicons.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/icheck-bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/adminlte/adminlte.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/SourceSansPro.css}" />
<link rel="shortcut icon" th:href="@{/images/Hotel.png}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>

<body
	style="background-image: url(images/LoginBackground.jpg); background-position: bottom; background-repeat: no-repeat; background-size: cover;"
	class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<h1>G Hotel</h1>
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p style="font-size: 15px; color: rgb(40, 112, 194);" class="login-box-msg">The best hotel management app</p>
				<form th:action="@{/login}" method="POST" style="border-style: none;">
					<div style="text-align: center; border-style: none" th:if="${param.error}">
						<p style="font-size: 20; color: #FF1C19; text-align: center">Email
							or Password invalid, please verify</p>
					</div>
					<div class="input-group mb-3 input-group-lg">
						<input type="text" id="staffCode" name="staffCode"
							placeholder="Staff Code" class="form-control" />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3 input-group-lg">
						<input type="password" id="password" name="password"
							placeholder="Password" class="form-control" />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<button class="btn btn-primary btn-block btn-flat" name="Submit"
						value="Login" type="Submit" th:text="Login"></button>
				</form>

			</div>
		</div>
	</div>
<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/adminlte/adminlte.min.js}"></script>
</body>
</html>