<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{css/bootstrap.min.css}">
<script type="text/javascript"
	th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${staffCode}"></span>
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
				<form th:action="@{/admin/information}" method="get">
					<button class="btn btn-md btn-danger btn-block"
						type="Submit">Admin Information</button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>