<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registration</title>
    <div th:insert="~{/head :: head}"></div>
    <style>
      select:invalid {
        color: gray;
      }
    </style>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div th:replace="~{/admin/menu :: core}"></div>

      <body class="hold-transition register-page">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="register-box" style="margin: auto;">
                <div class="card">
                  <div class="card-body register-card-body">
                    <h3 class="login-box-msg">Add a new user</h3>
                    <form action="../../index.php" method="post"
                      oninput='pass2.setCustomValidity(pass2.value != pass1.value ? "Passwords do not match." : "")'>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Full name" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-user"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Staff Code" required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-id-card"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <select required class="custom-select">
                          <option value="" disabled selected hidden>Department</option>
                          <option value="">Accounting</option>
                          <option value="">Bussiness</option>
                          <option value="">Employee Management</option>
                          <option value="">Room Management</option>
                          <option value="">Services</option>
                          <option value="">Others</option>
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-building"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <select required class="custom-select">
                          <option value="" disabled selected hidden>Position</option>
                          <option value="">option 1</option>
                          <option value="">option 2</option>
                          <option value="">option 3</option>
                          <option value="">option 4</option>
                          <option value="">option 5</option>
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-file-contract"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Contract Salary" required>
                        <div class="input-group-append">
                          <span class="input-group-text">$/Month</span>
                          <div class="input-group-text">
                            <span class="fas fa-money-check-alt"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password1" name="pass1" placeholder="Password"
                          required>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password2" name="pass2"
                          placeholder="Retype password">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="isAdmin">
                          <label class="custom-control-label" for="isAdmin">This user is an admin</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-8">
                          <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree" require>
                            <label for="agreeTerms">
                              I agree to the <a href="#">terms</a>
                            </label>
                          </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </form>
                  </div>
                  <!-- /.form-box -->
                </div><!-- /.card -->
              </div>
              <!-- /.register-box -->
            </div><!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div th:replace="~{/footer :: footer}"></div>
        <!-- Bootstrap Switch -->
        <script th:src="@{js/bootstrap-switch/bootstrap-switch.min.js}"></script>
        <div th:insert="~{/head :: bottom}"></div>
      </body>

  </html>