<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" th:href="@{/images/Hotel.png}" />
    <title>Information</title>
    <div th:insert="~{/common/head :: top}"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:insert="~{/marketing/menu :: core}"></div>
        <div th:replace="~{/common/information :: core}"></div>
    </div>
    <!-- /.wrapper -->
    <div th:replace="~{/common/footer :: footer}"></div>
    <div th:insert="~{/common/head :: bottom}"></div>
</body>

</html>